<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <link href="./css/common.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <nav class="bk-horz-nav bk-horz-nav-min">
        <div class="bk-nav-logo fl">
            <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/logo.png">
        </div>
        <div class="bk-nav-user fr">
            <span class="mr5">admin</span>
            <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/avatar.png">
        </div>
        <ul class="bk-nav-links fr">
            <li class="bk-has-submenu">
                <a href="javascript:;">帮助</a>
                <ul class="bk-submenu">
                    <li>
                        <a href="javascript:;">文档1</a>
                    </li>
                    <li>
                        <a href="javascript:;">文档2</a>
                    </li>
                    <li>
                        <a href="javascript:;">文档3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 60px)">
        <div class="bk-sidebar slide-close">
            <div class="slide-switch">
                <i class="icon bk-icon icon-dedent f14"></i>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="pureLink">
                        <a href="index.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-home"></i>
                      </span>
                      <span class="nav-name">首页</span>
                  </a>
                    </li>
                    <li class="pureLink open">
                        <a href="detail.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-list"></i>
                      </span>
                      <span class="nav-name">详情</span>
                  </a>
                    </li>
                    <li class="pureLink">
                        <a href="tab.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-line-chart"></i>
                      </span>
                      <span class="nav-name">统计</span>
                  </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                      <span class="icon-box">
                        <i class="bk-icon icon-plus-square"></i>
                      </span>
                      <span class="nav-name">一级菜单</span>
                  </a>
                        <div class="flex-subnavs">
                            <a href="javascript:;"><i></i>二级菜单</a>
                            <a href="javascript:;"><i></i>二级菜单</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2012-2017 蓝鲸智云.</p>
                <span>All Rights Reserved.</span>
            </div>
        </div>

        <div class="page-content">
            <div class="bk-panel bk-panel-title-btns">
                <div class="bk-panel-header p25" role="tab">
                    <span style="float: left;
                    line-height: 31px;
                    text-align: center;
                    margin-right: 10px;">选择日期范围</span>
                    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
                    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.css" rel="stylesheet">
                    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
                    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/moment.min.js"></script>
                    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.js"></script>
                   <div id="daterange">
                        <input style="width: 300px;" type="text" class="form-control daterangepicker_demo" id="daterangepicker_demo2" placeholder="选择日期...">
                        <script type="text/javascript">
                            // 选择日期范围
                            $('#daterangepicker_demo2').daterangepicker({
                                locale : {
                                    "format" : 'YYYY/MM/DD'
                                }
                            });
                        </script>

                   </div>
                   <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/select2-3.5.2/select2.css" rel="stylesheet">
                        <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
                        <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/select2-3.5.2/select2.js"></script>
                       <br>

                       <span style="float: left;
                       line-height: 31px;
                       text-align: center;
                       margin-right: 10px;">选择机器</span>

                        <div class="king-block-content clearfix">
                            <div class="plugin3_demo" id="plugin3_demo1" style="display:inline-block;">
                                <!-- select2 静态 start -->
                                <select class="select2_box" style="width:300px; height: 30px;">
                                    <option value=""></option>
                                    <option value="">机器1</option>
                                    <option value="">机器2</option>
                                    <option value="">机器3</option>
                                    <option value="">机器4</option>
                                </select>
                                <!-- select2 静态 end -->
                            </div>
                        </div>
                        <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/select2-3.5.2/select2.js"></script>
                        <script type="text/javascript">
                        $(function() {
                        //plugin3_demo1_js_start
                        // select2 基础
                        $("#plugin3_demo1 .select2_box").select2({
                            placeholder: '请选择选项'
                        });
                        </script>

                   <br>
                   <button id="applybutton" v-on:click="apply">确认{{ message }}</button>
                   
                    <div>
                        <img src="" alt="" id="photo">
                    </div>
                    <script>
                        var apply = new Vue({
                            el: "#applybutton",
                            data: {
                                message: 3213,
                            },
                            methods: {
                                apply:function() {
                                    console.log("h")
                                    // if($("#plugin3_demo1 option:selected").text() == "") {
                                    //     alert("error")
                                    // }
                                    var s = $("#daterangepicker_demo2").val()
                                    // s += $("#plugin3_demo1 option:selected").text()
                                    console.log(s)
                                    // alert(s)
                                    $.ajax({
                                        url: "/show/details1/",
                                        type: "post",
                                        data: {
                                            "daterange": s,
                                            "csrfmiddlewaretoken": "{{ csrf_token }}"
                                        },
                                        success: function(res) {
                                            console.log(res["result"])
                                            // console.log(res["result"][1])
                                            // $("$photo").attr("src", "/static/pic1"+res["result"][0]["fields"]["pic1"])
                                        }
                                    })
                                }
                            },
                        })
                    </script>
                    
                    
                </div>
                
                
            </div>
        </div>
    </div>

    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
</body>

</html>